@charset "utf-8";
.headerDown {
  opacity: 0.5;
}
.noScroll {
  overflow: hidden;
  height: 100vh;
}
.homeText {
  transform: translateY(50px);
  filter: blur(10px);
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease, filter 1s;
}
.homeText.fireShow {
  transform: translateY(0px);
  filter: blur(0px);
  opacity: 1;
}

.homeIndex li {
  transform: translateX(-20px);
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.6s ease;
}
.homeIndex li.slideInLeft {
  transform: translateX(0);
  opacity: 1;
}
#aboutMe .h2Wrap h2 {
  position: relative;
}

#aboutMe .h2Wrap h2::after {
  content: "";
  position: absolute;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: #000;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.6s ease;
}

#aboutMe .h2Wrap h2.showUnderLine::after {
  transform: translateX(-50%) scaleX(1);
}

.meImg {
  transform: translateY(20px);
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.6s ease;
}
.imgName {
  transform: translateY(20px);
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.6s ease;
}
.slideInBottom {
  transform: translateY(0);
  opacity: 1;
}
.slideInLeft {
  transform: translateX(0);
  opacity: 1;
}
